$primary: #404EDC;
$primaryHover: #2936B1;
$primaryPressed: #202A89;

$secondary: #F2F3FF;
$light: #fff;

$third: #F2F3FF;
$thirdHover: #E1E3FF;
$thirdText: #74779F;

$dark: #0C0F1E;
$dark-90: #242735;
$dard-80: #3D3F4B;
$dard-70: #555761;
$dark-60: #6D6F78;
$dark-50: #85878E;
$dark-40: #9E9FA5;
$dark-30: #B6B7BC;
$dark-20: #CECFD2;
$dark-10: #E7E7E8;
