@import url(//fonts.googleapis.com/css?family=Nunito+Sans);

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Nunito Sans';
    font-weight: 700;
}

.h2,
.h3,
.h4,
.h5 {
    line-height: 1.2;
}

.h1 {
    font-size: 24px;
    line-height: 1.2;
    @include midphone() {
        font-size: 48px;
        line-height: 1.1;
    }
    @include pc() {
        font-size: 56px;
    }
}

.h2 {
    font-size: 20px;
    @include midphone() {
        font-size: 32px;
    }

    @include pc() {
        font-size: 48px;
    }
}

.h3 {
    font-size: 18px;

    @include midphone() {
        font-size: 24px;
    }

    @include pc() {
        font-size: 32px;
    }
}

.h4 {
    font-size: 16px;

    @include midphone() {
        font-size: 18px;
    }

    @include pc() {
        font-size: 24px;
    }
}

.h5 {
    font-size: 14px;

    @include midphone() {
        font-size: 16px;
    }

    @include pc() {
        font-size: 18px;
    }
}
